<section id="loginSection">
    <h1>Log in</h1>
    <form id="loginform" action="/" method="post">
        <fieldset>
            <label for="name">Naam student</label>
            <input type="text" id="name" name="name" placeholder="Naam Achternaam" required>
            <label for="id">Studentnummer</label>
            <input type="text" id="id" name="id" placeholder="500999999" required>
        </fieldset>
        <input type="submit" value="Log in">
    </form>
</section>