<section id="homeSection">
    <h1>Enquêtes om in te vullen</h1>
    <ul>
        <% subjects.forEach(course=> { %>
            <% if (course.complete===false) { %>
                <li class="todo">
                    <a href="/subject/<%- course.survey %>/<%- id %>">
                        <%- course.courseName %>
                    </a>
                </li>
                <% } else { %>
                    <li class="done">
                        <%- course.courseName %> <span> is ingevuld</span>
                    </li>

                    <% } %>
                        <% }) %>
    </ul>
</section>