<section>
    <ul>
        <li>
            <a href="/subject/1">Kick Off</a>
        </li>
        <li>
            <a href="/subject/2">Web App From Scratch</a>
        </li>
        <li>
            <a href="/subject/3">CSS To The Rescue</a>
        </li>
        <li>
            <a href="/subject/4">Progressive Web App</a>
        </li>
        <li>
            <a href="/subject/5">Browser Technologies</a>
        </li>
        <li>
            <a href="/subject/6">Weekly Nerd</a>
        </li>
        <li>
            <a href="/subject/7">Real Time Web</a>
        </li>
    </ul>
</section>