<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Overzicht</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <%- include('../partials/subjectlist') %>
        </main>
</body>

</html>