<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Home
        </title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <%- include('../partials/loginfields') %>
        </main>
</body>

</html>