<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Vraag <%= questionData.id %>
        </title>
</head>

<body>
    <%- include('../partials/header') %>
        <%- include('../partials/survey') %>
</body>

</html>