<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>
            Vak Enquête
        </title>
</head>

<body>
    <%- include('../partials/header') %>
        <%- include('../partials/survey') %>
            <script src="/scripts/saveInputs.js"></script>
</body>

</html>