/* Reset all styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset styles end */

:root{
	--white: #ffffff;
	--red: #FF003E;
	--blue: #2603FF;
	--done: #8875ff;
}

* {
	font-family: 'Poppins', sans-serif;
	color: var(--blue);
}

body {
	background: var(--red);
}


header{
	background: var(--white);
	padding: 1%;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
}

main {
	background: var(--red);
	color: var(--blue);
	height: 100vh;
}

main > ul {
	margin: 0 auto;
	padding: 5vh 0;
	max-width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

main > ul::before {
	content: '';
	position: absolute;
	top: 48%;
	width: 85%;
	height: 10px;
	background: var(--white);
	z-index: 0;
}

main > ul li {
	position: relative;
	background: var(--white);
	padding: 10px 18px;
	border-radius: 50%;
	font-size: 2.5em;
	z-index: 2;
}

main > ul li:first-child {
	padding: 10px 23px;
}

#loginSection {
	margin: 5% auto;
}

#loginform {
	margin: 0 3%;
}

#loginform fieldset label { 
	display: block;
	font-size: 1.5em;
	padding-bottom: 1em;
}

#loginform fieldset label:nth-child(3) {
	padding-top: 1em;
}

#loginform fieldset input {
	font-size: 1.5em;
	border: 5px solid var(--blue);
	border-radius: 50px;
	color: var(--blue);
	padding: 0.5em;
}

#homeSection {
	margin: 5% auto;
}

#homeSection ul {
	margin: 0 3%;
	padding: 0 0 1em;
}

#homeSection ul li {
	margin: 1em 0;
}

#homeSection ul li a {
	font-size: 1.5em;
	text-decoration: none;
}

#homeSection ul span {
	display: inline;
	color: var(--done);
}

.done {
	font-size: 1.5em;
	color: var(--done);
}

section {
	margin: 5% auto;
	max-width: 800px;
	background: var(--white);
	padding: 0% 2%;
	border-radius: 88px;
}

main section h1{
	padding: 1em 0 0 3%;
	font-size: 2.5em;
}

meter {
	margin: 0.5em 3%;
	width: 93%;
	height: 3em;
	/* border: 2px solid var(--blue); */
	/* border-radius: 50px; */
	/* background: white; */
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
	background: var(--blue);
}

#kickoff,
#webbappfromscratch,
#csstotherescue,
#progressivewebapp,
#browsertechnologies,
#weeklynerd,
#realtimeweb {
	margin: 0 3%;
}

#kickoff fieldset > label:not(:first-child),
#webbappfromscratch fieldset > label:not(:first-child),
#csstotherescue fieldset > label:not(:first-child),
#progressivewebapp fieldset > label:not(:first-child),
#browsertechnologies fieldset > label:not(:first-child),
#weeklynerd fieldset > label:not(:first-child),
#realtimeweb fieldset > label:not(:first-child) {
	margin-top: 1.5em;
}

#kickoff label,
#webbappfromscratch label,
#csstotherescue label,
#progressivewebapp label,
#browsertechnologies label,
#weeklynerd label,
#realtimeweb label {
	display: block;
	font-size: 1.5em;
	margin: 0.5em 0 0.5em;
}

#kickoff div label input,
#webbappfromscratch div label input,
#csstotherescue div label input,
#progressivewebapp div label input,
#browsertechnologies div label input,
#weeklynerd div label input,
#realtimeweb div label input{
	height: 1.5em;
	width: 1.5em;
}

#gradeOnputId {
	text-align: left;
	/* margin-left: 3%; */
	font-size: 2em;
	/* color: yellow; */
}

input[type=range] {
	margin: 1em 0;
	min-width: 90%;
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	box-shadow: none;
	background: #D9D9D9;
	border-radius: 25px;
	border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #B0B0B0;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -16px;
}

input[type=range]:focus::-webkit-slider-thumb {
	background: var(--blue);
}

input[type=date] {
	font-size: 1.2em;
	padding: none;
	text-transform: uppercase;
}

input[type=submit] {
	margin: 2em 0;
	padding: 0.8em 1.5em;
	background: var(--blue);
	color: var(--white);
	border: none;
	border-radius: 50px;
	font-size: 1.5em;
}

output {
	margin-left: 1em;
	font-size: 1.5em;
}